Package: com.sushibta.a510player
Name: TAsmart
Version: 0.5.2-stable-recovery
Architecture: iphoneos-arm64
Description: Direct low-latency RTSP/H264 player test for 70mai A510.
Maintainer: sushibta25-design
Author: sushibta25-design
Section: Applications
